html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer,
.footer2 {
  display: flex;
  background-color: #002d62;
  color: aliceblue;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
}

.footer2 {
  border-top: 2px solid white;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}
